.col-red{
    color:blue;
}
h1.col-red{
    font-size: 15px;
    background-color:pink ;
}
.opacity{
    opacity: 0.8;
}
.bg-img{
    background-repeat:repeat-x;
    width: 80%;
    height:20vh;
    background-image: url(../assets/awdiz.assets.jpeg);
}
.borderstyles{
    border: 4px solid red ;
    
}
.bord-sty{
    border: 4px dotted palevioletred  ;
    
}
.bo-st{
    border: 4px dashed brown  ;
    
}
.bord-sy{
    border: 4px double blueviolet  ;
    
}
.brd-s{
    border: 4px groove pink  ;
    
}
.bord-syl{
    border: 4px ridge aqua ;
    
}
.bord-t{
    border: 4px inset orchid ;
    
}
.bd-s{
    border: 4px outset blue ;
    
}
.bordernone{
    border: none;
    outline:none ;
}
.borderRadius{
    border-radius: 50px;
    height: 100px;
    width: 100px;
    border: 2px solid black;

}
.marginStyles{
    width: 100%;
    height: 100px;
    border: 5px solid brown;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 400px;
    margin: 10px;
    /* for all four direction  */
    margin: 100px 350px;
    /* top and bottom / left and right  */
    margin: 10px 20px 30px 40px;
   
}

